h1 {
	text-align: center;
	font: verdana;
	padding: 10px 0px 0px 0px;
}
header {
	padding: 10px 0px 5px 0px;
}
p {
	position: center;
	font-size: 25px;
}
#pages {
	font-weight: bold;
	font: verdana;
	color: black;
}
.map {
	min-width: 100%;
	min-height: 100%;
	border-style: solid;
	border-color: black;
}
#intro {
	background: white;
}
li {
	display: inline;
	padding: 0px 20px 0px 20px;
	font-size: 20;
}
body {
	text-align: center;
	min-height: 100%;
}
p {
	padding: 10px 0px 5px 0px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 20px;
 }
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
	background: #CD486B;
	color: white;
}
 input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

