<style>
    header {
      text-align: center;
      background-size: cover;
      color: white;
    }
    a {
      color: white;
    }
    a {
      text-align: center;

  padding: 10px 0px 0px 0px;
    }
    h1 {
      text-align: center;
  padding: 10px 0px 0px 0px;
    }
    img {
      
      width:304px; 
      height:200px;  
      padding:5px; 
        border-radius: 50%; 
        margin-left: 50px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      text-align: center;
    }
    li {
     display: inline;
  padding: 0px 20px 0px 20px;
  font-size: 20;
    }

    input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 50 */
input[type=text]:focus {
    width: 50;
}
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      
    }
  </style>
</head>
